<!DOCTYPE html>
<html>
<head>
    <title>HAProxy Upload Cluster</title>
    <style>
        body {
            font-family: Arial;
            max-width: 600px;
            margin: 40px auto;
        }

        .box {
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 10px;
        }

        button {
            padding: 10px;
            margin-top: 10px;
        }
    </style>
</head>
<body>

<div class="box">

    <h2>Cluster Upload Service</h2>

    <p>Backend Node: <strong>{{ node }}</strong></p>

    <form action="/upload" method="post" enctype="multipart/form-data">

        <input type="file" name="file" required>
        <br>

        <button type="submit">
            Upload
        </button>

    </form>

</div>

</body>
</html>
